html,
body,
#root {
  height: 100%;
}
.error_msg {
  color: red;
}

.success_msg {
  color: green;
}

.center-card {
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mt-mb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-mb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mt-10 {
  margin-top: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.pr-25 {
  padding-right: 25px;
}
.fullwidth {
  width: 100%;
}
.ul-list ul {
  list-style-type: decimal;
  margin-top: 20px;
  margin-left: 50px;
  justify-content: center;
}
.ul-list ul li {
  padding-top: 10px;
  justify-content: center;
}
.error {
  color: red;
}
.astric {
  color: red;
}
.mt-mb-ml-mr-25 {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}
.link-tag {
  cursor: pointer;
  color: #0000ee;
}
.link-tag:hover {
  color: #551a8b;
}
.ml-20 {
  margin-left: 20px;
}
.explain_text {
  color: #000000;
}
.no_underline {
  text-decoration: none;
}
.pd-25 {
  padding: 0px 25px;
}
.highlight-text {
  color: rgb(255, 115, 0);
}
